.game-field {
  display: flex;
  justify-content: center;
  &__game-status {
    margin: 0 auto;
    &_disabled {
      display: none;
    }
  }
  &__canvas {
    border: 1px solid black;
    &_disabled {
      display: none;
    }
  }
}
